.banner{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    font-family: var(--font-family);
    padding: 2rem 1.5rem;
    font-weight: 500;
}

.banner h2 {
    font-weight: 700;
    font-size: 18px;
    margin: 1rem 0;
}

.banner input{
    margin: 1rem 0;
}

.search {
    background-color: transparent;
    border: 1px solid var(--branco);
    padding: 1rem;
    border-radius: 24px;
    width: 100%;
    color: var(--branco);
}

.search::placeholder {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    color: var(--branco);
    text-align: center;
    background: url("../img/lupa.png") no-repeat;
    background-position: 1rem;
}