.carrossel-titulo {
    font-family: var(--poppins);
    font-weight: 700;
    color: var(--amarelo);
    background-color: var(--branco);
    text-align: center;
    font-size: 18px;
    padding: 1rem 0 0.5rem 0;
}

.swiper-pagination {
    position: initial !important;
    margin: 0.5em 0 !important;
}

.swiper-imagem {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}

@media screen and (min-width: 1024px) {

    .carrossel-titulo {
        font-size: 26px;
        padding: 2rem 0 1rem 0;
    }

    .swiper-pagination {
        margin: 2rem 0 3rem 0 !important;
    }

    .swiper {
        width: 60%;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block !important;
        top: 60%;
    }

    .swiper-wrapper {
        display: flex;
        align-items: center;
        height: 17rem !important;
    }
}

@media screen and (min-width: 1311px) {

    .carrossel-container {
        display: flex;
        align-items: center;
        margin: 0 8rem;
    }

    .swiper-pagination {
        margin: 1rem 0 !important;
    }

    .swiper {
        width: 40%;
    }

    .swiper-wrapper {
        height: 12rem !important;
    }
}