.footer {
    padding: 0.5rem 1rem;
    display: flex;
}

.footer-titulo {
    font-family: var(--poppins);
    margin: 0.5rem 1rem;
    font-weight: 400;
    color: var(--preto);
}

.footer-subtitulo,
.plataformas-item,
.plataformas-imagem {
    display: none;
}

@media screen and (min-width: 1024px) {

    .footer {
        justify-content: space-around;
    }

    .footer-colunas {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .footer-titulo {
        font-size: 24px;
    }

    .footer-subtitulo {
        font-family: var(--poppins);
        font-size: 14px;
        font-weight: 400;
        display: block;
        color: var(--cinza-claro);
    }

    footer p {
        font-weight: 400;
        font-size: 14px;
        font-family: var(--poppins);
        color: var(--cinza-escuro);
    }

    .plataformas-item {
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    .plataformas-imagem {
        width: 30px;
        height: 30px;
        display: block;
    }

}

@media  screen and (min-width: 1311px) {
    .footer-colunas {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1rem;
    }

    .footer {
        padding: 2rem;
    }
}