.cabeçalho-menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/menu-fechado.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container-botao:checked~.container-rotulo>.cabeçalho-menu-hamburguer {
    background-image: url("../img/menu-aberto.png");
}

.container-botao:checked~.container-rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container-imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container-botao:checked~.lista-menu {
    display: block;
}

.lista-menu-titulo,
.lista-menu-item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu-titulo {
    color: var(--amarelo);
    font-weight: 700;
}

.lista-menu-link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container-botao {
    display: none;
}

.container-titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container-texto {
    display: none;
}


@media screen and (min-width: 1024px) {

    .container-titulo,
    .container-titulo-negrito {
        font-family: var(--josefin-sans);
        font-size: 30px;
    }

    .container-titulo {
        font-weight: 400;
        display: block;
    }

    .container-titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes-item {
        padding: 0 1em;
    }

    .opcoes-link {
        text-decoration: none;
        color: var(--black);
    }

    .container-imagem-transparente {
        display: none;
    }

    .cabecalho-menu-hamburguer {
        display: none;
    }

    .opcoes-botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes-botao {
        display: none;
    }

    .opcoes-botao:checked~.opcoes-rotulo>.opcoes-item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes-item {
        padding: 2em 1em;
        font-family: var(--poppins);
        font-weight: 400;
    }

    .lista-menu-item {
        font-family: var(--poppins);
        font-weight: 400;
        color: var(--preto);
    }

    .lista-menu-item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu-item:hover>.lista-menu-link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}

@media screen and (min-width: 1311px) {

    .container-texto {
        display: block;
        font-size: 20px;
        font-family: var(--poppins);
        font-weight: 400;
        color: var(--preto);
        
    }

    .container-link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .cabecalho {
        padding: 0 2rem;
    }

    .opcoes {
        margin-right: auto;
    }
}