.topicos {
    background: var(--azul-degrade);
    padding: 1rem 0;
    text-align: center;
}

.topicos-titulo {
    font-family: var(--poppins);
    font-weight: 300;
    color: var(--branco);
    text-align: center;
    margin-bottom: 1rem;
}

.topicos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos-item {
    margin: 2rem 0.5rem;
}

.topicos-ancora {
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
    font-family: var(--poppins);
    background-color: var(--amarelo);
    padding: 1rem;
    font-size: 14px;
}


@media screen and (min-width: 1024px) {

    .topicos-lista {
        margin: 2rem 3rem;
    }

    .topicos-titulo {
        font-size: 24px;
        padding: 2rem 0 0 0;
    }

    .topicos-ancora {
        font-size: 24px;
    }
}

@media screen and (min-width: 1311px) {

    .topicos {
        padding: 1rem 15rem;
    }
}